# Project exclude paths
node_modules
/product-service/node_modules/
/import-service-v3/node_modules/
/authorization-service/node_modules
.idea
.env
.serverless
/product-service-v3/.serverless
/import-service-v3/.serverless
/authorization-service/.serverless
